/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #fffaec !default;
$text-color: #183b4e !default;
$muted-text-color: #6992d4 !default;
$primary-color: #095b7c !default;
$border-color: mix(rgb(165, 191, 204), #044182, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: rgb(39, 84, 138) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#d1f3f7, $text-color, 80%) !default;
$h-text-color: #27548a;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
