/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: mix(#1a5dc2, $border-color, 50%);
  border: 1px solid mix(#7faef5, $border-color, 25%);
  border-bottom: 2px solid mix(#f6faff, $border-color, 25%);
  color: rgb(225, 224, 224);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-left: 1px solid mix(#7faef5, $border-color, 25%);
}

td {
  padding: 0.5em;
  border: 1px solid mix(#7faef5, $border-color, 25%);
  //border-bottom: 1px solid mix(#ffffff, $border-color, 25%);
}

tr,
td,
th {
  vertical-align: middle;
}
